<form method="POST">
    <?- form(form_security) ?>
    <div>
        <label for="first_name"><?= __('firstName') ?></label>
        <input id="first_name" type="text" name="first_name" required="required" />
    </div>
    <div>
        <label for="surname"><?= __('lastName') ?></label>
        <input id="surname" type="text" name="surname" required="required" />
    </div>
    <div>
        <label for="email"><?= __('email') ?></label>
        <input id="email" type="email" name="email" required="required" />
    </div>
    <div>
        <label for="password"><?= __('password') ?></label>
        <input id="password" type="password" name="password" required="required" />
    </div>
    <div>
        <label for="password_repeat"><?= __('passwordRepeat') ?></label>
        <input id="password_repeat" type="password" name="password_repeat" required="required" />
    </div>
    <input type="submit" value="<?= __('signUp') ?>" />
</form>