<?
    moment.locale(langShort(language));
?>
<!DOCTYPE html>
<html lang="<?= langShort(language) ?>">
    <head>
        <!-- Head -->
        <?- include('default-head.ejs') ?>
        <!-- Head -->

        <!-- DEBUG -->
        <?- include('debug-head.ejs') ?>
        <!-- DEBUG -->
    </head>
    <body class="crisp_edge">
        <div id="main">
            <!-- Content -->
            <?- include('../page/' + page) ?>
            <!-- Content -->
        </div>
    </body>
</html>